<%- include('layout') %>

<div class="pt-[100px] md:pt-[150px]">
  <!-- header -->

  <!-- hero section -->
  <%- include('_home-hero') %>

  <!-- our partner section-->
  <%- include('_home-partner') %>

  <!-- about section -->
  <%- include('_home-about') %>

  <!-- footer section -->
  <%- include('../partials/footer') %>
</div>
